<style scoped>
  .dates {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 20px 20px 20px 0;
  }

  .event {
    margin-left: 20px;
    background: #5998e8;
    padding: 10px;
    border-radius: 5px;
    color: #eee;
  }

  .date{
    min-width: 50px;
    display: flex;
  }
</style>

<template>
  <div class="july">
    <h3>July 2018</h3>
    <div class="dates-holder">
      <div v-for="(date, indx) in dates" :key="indx" class="dates">
        <div class="date">
          <p style="margin-right: 5px;font-size: 1.6em;">{{date.date}}</p>
          <p>{{setDay(date.day)}}</p>
        </div>
        <div class="event" v-for="(event, indx) in events" :key="indx" 
          v-if="new Date(event.event_from) <= new Date(date.value) && 
          new Date(event.event_to) >= new Date(date.value) && (date.day & event.exclude_dates)">
          {{event.name}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import July from '@/components/July.json'

  export default {
    name: "July",
    props: {
      events: {
        type: Array,
        default: function(){
          //
        }
      }
    },
    data(){
      return{
        dates: July,
        excludeDates: [{
          value: 1, label: "Sun"
        }, {
          value: 2, label: "Mon"
        }, {
          value: 4, label: "Tue"
        }, {
          value: 8, label: "Wed"
        }, {
          value: 16, label: "Thu"
        }, {
          value: 32, label: "Fri"
        }, {
          value: 64, label: "Sat"
        }]
      }
    },
    methods: {
      setDay(val){
        for(let i=0; i < this.excludeDates.length; i++){
          if(val == this.excludeDates[i].value)
            return this.excludeDates[i].label
        }
      },
    }
  }
</script>