<style scoped>
  .setup-event{
    max-width: 400px;
  }
  .ivu-date-picker {
    width: 100%;
  }
</style>

<template>
  <div class="setup-event">
    <div class="setup-event__container">
      <Form :model="event" label-position="top" ref="event" :rules="ruleValidate">
        <FormItem label="Event Name" prop="name">
            <Input v-model="event.name"></Input>
        </FormItem>
        <Row>
          <Col span="12">
            <FormItem label="From" style="margin-right: 10px;" prop="event_from">
              <DatePicker type="date" @on-change="setEventFrom"
                placeholder="Select date" style="widht: 100%"></DatePicker>
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="To" prop="event_to">
              <DatePicker type="date" @on-change="setEventTo"
                placeholder="Select date" style="widht: 100%"></DatePicker>
            </FormItem>
          </Col>
        </Row>
        <div class="days-container">
          <FormItem>
            <CheckboxGroup v-model="excludeValue" style="display: flex;">
              <div v-for="(day, indx) in excludeDates" :key="indx">
                <Checkbox :label="day.value" :value="day.value">
                    <span>{{day.label}}</span>
                </Checkbox>
              </div>
            </CheckboxGroup>
          </FormItem>
        </div>
        <FormItem>
          <Button v-on:click="handleSubmit('event')" type="primary">Save</Button>
        </FormItem>
    </Form>
    </div>
  </div>
</template>

<script>
  export default {
    name: "SetupEvent",
    data(){
      return {
        event: {
          name: null,
          event_from: null,
          event_to: null,
          exclude_dates: null,
        },
        excludeValue: [],
        excludeDates: [{
          value: 1, label: "Sun"
        }, {
          value: 2, label: "Mon"
        }, {
          value: 4, label: "Tue"
        }, {
          value: 8, label: "Wed"
        }, {
          value: 16, label: "Thu"
        }, {
          value: 32, label: "Fri"
        }, {
          value: 64, label: "Sat"
        }],
        ruleValidate: {
          name: [
            { required: true, message: 'The name cannot be empty', trigger: 'blur' }
          ],
          event_from: [
            { required: true, message: 'Please choose the date of the event to start', trigger: 'blur' }
          ],
          event_to: [
            { required: true, message: 'Please choose the date of the event to end', trigger: 'blur' }
          ],
        }
      }
    },
    methods: {
      setEventFrom(val){
        this.event.event_from = val
      },
      setEventTo(val){
        this.event.event_to = val
      },
      showData(){
        let exclude_value = 0

        for(let i = 0; i < this.excludeValue.length; i++){
          exclude_value = exclude_value | this.excludeValue[i]
          console.log(exclude_value)
        }

        if (exclude_value == 0)
          this.event.exclude_dates = 127
        else
          this.event.exclude_dates = exclude_value

        this.$emit('onSubmit', this.event)
      },
      handleSubmit (name) {
        this.$refs[name].validate((valid) => {
          if (valid) {
            this.$Message.success('Success!');
            this.showData()
          } else {
            this.$Message.error('Fail!');
          }
        })
      },
    }
  }
</script>
